.colorRojo {
  color: red; }

.pie {
  color: darkslategray;
  font-weight: bold;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-top: 50px; }

/**
  .menu {
    list-style: none;
    background-color: black;
    padding: 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    text-align: center; }
    .menu li {
      text-decoration: none;
      color: white;
      padding: 20px;
      display: block; }
      .menu li a {
        background: red; }
        .menu li a:hover {
          background: red; }
           **/
* {
  box-sizing: border-box; }

h1 {
  font-weight: 800;
  font-size: 100px;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: blanchedalmond;
  text-align: center; }

h2 {
  font-weight: 600;
  font-size: 100px;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: blanchedalmond; }

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: antiquewhite;
  min-height: 100%; }

.banner {
  height: 600px;
  background-image: url(../Imagenes/parallaxRedondos.jpg);
  background-attachment: fixed;
  align-items: center; }

.menu {
  list-style: none;
  background-color: black;
  padding: 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  text-align: center; }
  .menu li {
    display: inline-block;
    text-align: center; }
    .menu li a {
      text-decoration: none;
      color: white;
      padding: 20px;
      display: block; }
      .menu li a:hover {
        background: red; }

.integrantes li a {
  /**sacar el color azul**/
  text-decoration: none;
  list-style: none; }

.integrantes {
  list-style: none; }

.colorRojo {
  color: red; }

.listas {
  list-style: none; }

.lista-pie {
  list-style-type: none; }

.pie {
  color: black;
  font-weight: bold;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-top: 50px; }

.integrantes img {
  position: relative;
  border-radius: 10px;
  float: left;
  margin-right: 20px;
  margin-top: 20px; }

.integrantes p {
  padding: 50px; }

.titulo-pie {
  text-decoration: underline; }

.remeras > * {
  display: inline-block;
  padding: 30px;
  border-right: 100px;
  border-radius: 20%;
  margin-left: 55px; }
  .remeras > *:hover {
    background: red;
    box-shadow: 0 0 5px red, 0 0 20px red, 0 0 60px #fd0000;
    transition-delay: 0.5s; }

.galeria > * {
  display: inline-block;
  padding: 5px;
  border-right: 10px; }

.grid-container > * {
  padding: 10px; }

.animation {
  animation: pulse 5s linear  both; }

#titulo > * {
  margin-top: 100px;
  flex-direction: column;
  text-align: center; }
  #titulo > * h2 {
    margin-top: 100px;
    flex-direction: column;
    text-align: center; }

@media (min-width: 860px) {
  .titulo > * {
    flex-direction: column;
    text-align: center; } }

.titulo-disco ul li a {
  text-decoration: underline; }

.boton-arriba {
  height: 55px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  transition: 0.2s; }
  .boton-arriba:hover {
    background: #2a76a8;
    box-shadow: 0 0 10px #2a76a8, 0 0 40px #2a76a8, 0 0 60px #2a76a8;
    transition-delay: 0.5s; }

.iconify {
  height: 50px;
  width: 50px;
  position: relative; }

.boton-Enviar {
  position: relative;
  display: inline-block;
  letter-spacing: 2px;
  overflow: hidden;
  transition: 0.2s; }

.boton-Enviar:hover {
  background: orchid;
  box-shadow: 0 0 10px orchid, 0 0 40px orchid, 0 0 60px orchid;
  transition-delay: 0.5s; }

.red--twitter {
  background: #51aff8;
  padding: 0;
  width: 90%;
  max-width: 300px;
  margin: auto;
  text-align: center; }
  .red--twitter:hover {
    background: white; }
    .red--twitter:hover .red__nombre {
      color: #51aff8; }

.red--facebook {
  background: #2956a3;
  padding: 0;
  width: 90%;
  max-width: 300px;
  margin: auto;
  text-align: center; }
  .red--facebook:hover {
    background: white; }
    .red--facebook:hover .red__nombre {
      color: #2956a3; }

.red--instagram {
  background: #ce1312;
  padding: 0;
  width: 90%;
  max-width: 300px;
  margin: auto;
  text-align: center; }
  .red--instagram:hover {
    background: white; }
    .red--instagram:hover .red__nombre {
      color: #ce1312; }

.box {
  height: 100px;
  width: 1000px;
  text-align: justify; }

@media (max-width: 700px) and (min-width: 200px) {
  .video-yt {
    width: 250px;
    height: 300px; } }

@media (max-width: 876px) and (min-width: 200px) {
  .responsive {
    font-weight: 60px;
    font-size: 60px;
    text-align: left; } }

@media (max-width: 600px) and (min-width: 200px) {
  .galeria-yt {
    width: 250px;
    height: 200px; }
  .titulo-integrantes {
    font-weight: 60px;
    font-size: 60px; } }

.h3 {
  text-decoration: underline; }
