.colorRojo {
  color: red; }

.pie {
  color: darkslategray;
  font-weight: bold;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-top: 50px; }

/**
  .menu {
    list-style: none;
    background-color: black;
    padding: 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    text-align: center; }
    .menu li {
      text-decoration: none;
      color: white;
      padding: 20px;
      display: block; }
      .menu li a {
        background: red; }
        .menu li a:hover {
          background: red; }
           **/
* {
  box-sizing: border-box; }

h1 {
  font-weight: 800;
  font-size: 100px;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: blanchedalmond; }

h2 {
  font-weight: 600;
  font-size: 100px;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: blanchedalmond; }

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: antiquewhite;
  min-height: 100%; }

.banner {
  height: 600px;
  background-image: url(../Imagenes/parallaxRedondos.jpg);
  background-attachment: fixed;
  align-items: center; }

.menu {
  list-style: none;
  background-color: black;
  padding: 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  text-align: center; }

.menu li a {
  text-decoration: none;
  color: white;
  padding: 20px;
  display: block; }

.menu li {
  display: inline-block;
  text-align: center; }

.menu li a:hover {
  background: red; }

.integrantes li a {
  /**sacar el color azul**/
  text-decoration: none;
  list-style: none; }

.integrantes {
  list-style: none; }

.colorRojo {
  color: red; }

.listas {
  list-style: none; }

.lista-pie {
  list-style-type: none; }

.pie {
  color: darkslategray;
  font-weight: bold;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-top: 50px; }

.integrantes img {
  position: relative;
  border-radius: 10px;
  float: left;
  margin-right: 20px;
  margin-top: 20px; }

.integrantes p {
  padding: 50px; }

.titulo-pie {
  text-decoration: underline; }

.remeras > * {
  display: inline-block;
  padding: 30px;
  border-right: 100px; }

.galeria > * {
  display: inline-block;
  padding: 5px;
  border-right: 10px; }

.grid-container > * {
  padding: 10px; }

.animation {
  animation: pulse 5s linear  both; }

#titulo > * {
  margin-top: 100px;
  flex-direction: column;
  text-align: center; }

@media (min-width: 860px) {
  .titulo > * {
    flex-direction: column;
    text-align: center; } }

.titulo-disco {
  text-decoration: underline; }

.boton-arriba {
  text-decoration: none;
  position: relative;
  display: inline-block;
  overflow: hidden;
  transition: 0.2s; }

.boton-arriba:hover {
  background: orchid;
  box-shadow: 0 0 10px orchid, 0 0 40px orchid, 0 0 60px orchid;
  transition-delay: 0.5s; }

.boton-Enviar {
  position: relative;
  display: inline-block;
  letter-spacing: 2px;
  overflow: hidden;
  transition: 0.2s; }

.boton-Enviar:hover {
  background: orchid;
  box-shadow: 0 0 10px orchid, 0 0 40px orchid, 0 0 60px orchid;
  transition-delay: 0.5s; }
