@import "colores";
@import "redes-sociales";


.menu{
    list-style: none;
    background-color:black;
    padding: 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
        li{
            text-decoration: none;
            color: white;
            padding: 20px;
            display: block;
                a{
                    background: red; 
                    &:hover{
                        background: red;   
                }
        }

    }
}